//=require "bootstrap-sass/lib/bootstrap"

$grey: #e5e5e5
$radius: 10px
$spacing: 20px

#custom-box
  padding: $spacing
  width: 100%
  height: 100px
  background-color: $grey
  border-radius: $radius
  transition: height .5s linear

  &.grow
    height: 400px


.cool-paragraph
  font-size: 30px
  color: red
