<div class='container'>
  <div class="row">
    <div class="col-xs-12">
      <div class="jumbotron">
        <h1> Whatup</h1>
        <p class='cool-paragraph'>whatup</p>
        <a class='btn btn-primary'>
          ummm whatup
        </a>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <div id='custom-box'>
        <p class='cool-paragraph'> ok now this is real.</p>
      </div>
    </div>
  </div>
</div>